# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VSCode
.vscode/

# Archivos temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
